workflows/crm/Automated After-Call Work Optimizer.json
{
  "name": "Automated After-Call Work Optimizer",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -400,
        -48
      ],
      "id": "9253ea2a-d184-49ba-bb0d-f77eef7c53f4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "engagement",
        "operation": "getAll",
        "limit": 50
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -224,
        -48
      ],
      "id": "435a205e-f85e-418f-aa1e-caf146ad055a",
      "name": "Get many engagements",
      "credentials": {
        "hubspotAppToken": {
          "id": "zya8YHgVtz6AmN56",
          "name": "HubSpot SEO Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Calculate time 15 minutes ago\nconst cutoffTime = new Date().getTime() - (15 * 60 * 1000);\n\n// 2. Filter: Keep only CALLS that are RECENT\nconst newCalls = items.filter(item => {\n  const eng = item.json.engagement;\n  const isCall = eng.type === 'CALL';\n  const isRecent = eng.createdAt > cutoffTime;\n\n  // PRODUCTION MODE: MUST be both a call AND recent\n  return isCall && isRecent;\n});\n\nreturn newCalls;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -48
      ],
      "id": "57dc873e-1e38-425c-87ee-99fe10bddaf1",
      "name": "Filter Logic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyC9le56b8bQ50H7bhftu7Di7JJ91KMjdlE",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Analyze this sales call log. Return strictly valid JSON with 3 fields: 'sentiment' (Positive/Negative), 'summary' (clean 1-sentence version), 'next_step' (max 5 words). \\n\\nCALL LOG: {{ $json.engagement.bodyPreview }}\"\n    }]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        128,
        -48
      ],
      "id": "37d85499-32f9-44b4-a307-c9a03f186ec9",
      "name": "AI Cleaner"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // 1. Get the raw text that Gemini sent back\n  const rawText = item.json.candidates[0].content.parts[0].text;\n\n  // 2. Remove the ```json and ``` characters to clean it up\n  const cleanText = rawText.replace(/```json|```/g, '').trim();\n\n  // 3. Convert it into a real JSON object\n  return {\n    json: JSON.parse(cleanText)\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        -48
      ],
      "id": "92555a2a-a2ae-4f3a-aeb5-9c4ffcddb6a7",
      "name": "Cleaner"
    },
    {
      "parameters": {
        "content": "",
        "height": 480,
        "width": 1904,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -272
      ],
      "typeVersion": 1,
      "id": "cfbe2589-4e9d-43d0-a3f9-428fa71277e3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7a7d492c-3c58-4bf8-a4a4-f364a9206a17",
              "leftValue": "={{ $json.sentiment }}",
              "rightValue": "Negative",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        464,
        -48
      ],
      "id": "c35a3dbe-0e1b-45e4-a221-80192e9029ac",
      "name": "The Gatekeeper"
    },
    {
      "parameters": {
        "sendTo": "devojt@callboxinc.com",
        "subject": "ALERT: Negative Client Call Detected",
        "message": "=<div style=\"font-family: Helvetica, Arial, sans-serif; max-width: 600px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden; background-color: #ffffff;\">\n  \n  <div style=\"background-color: #D93025; padding: 20px; text-align: center;\">\n    <h2 style=\"color: #ffffff; margin: 0; font-size: 24px; font-weight: bold;\">⚠️ Negative Call Detected</h2>\n  </div>\n\n  <div style=\"padding: 25px;\">\n    <p style=\"color: #555555; font-size: 16px; margin-top: 0;\">\n      <strong>Attention Manager,</strong>\n    </p>\n    <p style=\"color: #555555; font-size: 16px; line-height: 1.5;\">\n      The AI has detected a negative sentiment in a recent sales call. Please review the details below immediately.\n    </p>\n\n    <div style=\"background-color: #f9f9f9; padding: 15px; border-left: 5px solid #D93025; margin: 20px 0;\">\n      <p style=\"margin: 0 0 10px 0; color: #333; font-size: 14px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;\">\n        Call Summary\n      </p>\n      <p style=\"margin: 0; color: #333; font-size: 16px; font-style: italic;\">\n        \"{{ $('Cleaner').item.json.summary }}\"\n      </p>\n    </div>\n\n    <table style=\"width: 100%; border-collapse: collapse; margin-bottom: 20px;\">\n      <tr>\n        <td style=\"padding: 10px 0; border-bottom: 1px solid #eee; font-weight: bold; color: #555;\">Sentiment:</td>\n        <td style=\"padding: 10px 0; border-bottom: 1px solid #eee; color: #D93025; font-weight: bold;\">{{ $('Cleaner').item.json.sentiment }}</td>\n      </tr>\n      <tr>\n        <td style=\"padding: 10px 0; border-bottom: 1px solid #eee; font-weight: bold; color: #555;\">Next Step:</td>\n        <td style=\"padding: 10px 0; border-bottom: 1px solid #eee; color: #333;\">{{ $('Cleaner').item.json.next_step }}</td>\n      </tr>\n    </table>\n\n    <div style=\"text-align: center; margin-top: 30px;\">\n      <a href=\"https://app.hubspot.com/contacts/{{ $('Filter Logic').item.json.portalId }}/contact/{{ $('Filter Logic').item.json.associations.contactIds[0] }}\" \n         style=\"background-color: #D93025; color: #ffffff; text-decoration: none; padding: 12px 24px; border-radius: 4px; font-weight: bold; font-size: 16px; display: inline-block;\">\n        View Contact in HubSpot\n      </a>\n    </div>\n\n  </div>\n\n  <div style=\"background-color: #f1f1f1; padding: 15px; text-align: center; font-size: 12px; color: #888;\">\n    Sent automatically by your n8n AI Bot 🤖\n  </div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        672,
        -224
      ],
      "id": "7fd6211b-5697-4604-a166-25cbbc4a06cb",
      "name": "Manager Alert  (bad call)",
      "webhookId": "28b6dd69-efb6-4749-95fd-17b97e26157c",
      "credentials": {
        "gmailOAuth2": {
          "id": "SRi6XjuafgL3VqNb",
          "name": "ruhge-system-Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/engagements/v1/engagements",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"engagement\": {\n    \"active\": true,\n    \"type\": \"TASK\",\n    \"timestamp\": {{ $now.valueOf() }}\n  },\n  \"associations\": {\n    \"contactIds\": [ {{ $('Filter Logic').item.json.associations.contactIds[0] }} ]\n  },\n  \"metadata\": {\n    \"subject\": {{ JSON.stringify(\"AI Follow Up: \" + $json.next_step) }},\n    \"body\": {{ JSON.stringify(\"AI Summary: \" + $json.summary + \"\\nSentiment: \" + $json.sentiment) }},\n    \"status\": \"NOT_STARTED\",\n    \"forObjectType\": \"CONTACT\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        864,
        -32
      ],
      "id": "84066037-35eb-459d-be3d-2cc7da5d0e69",
      "name": "Create HubSpot Task (Negative and Positive Calls",
      "credentials": {
        "hubspotApi": {
          "id": "6qbBAd5xYG1XLsIk",
          "name": "HubSpot Personal API Key"
        },
        "httpHeaderAuth": {
          "id": "k7DDBnZcTgn4iHiI",
          "name": "HubSpot Bearer"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{ $('Filter Logic').item.json.associations.contactIds[0] }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"last_call_ai_summary\": {{ JSON.stringify($('Cleaner').item.json.summary) }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1072,
        -32
      ],
      "id": "de5703e7-87db-437e-962f-38b8bcc0101e",
      "name": "The Data Enricher",
      "credentials": {
        "httpHeaderAuth": {
          "id": "k7DDBnZcTgn4iHiI",
          "name": "HubSpot Bearer"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many engagements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many engagements": {
      "main": [
        [
          {
            "node": "Filter Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Logic": {
      "main": [
        [
          {
            "node": "AI Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Cleaner": {
      "main": [
        [
          {
            "node": "Cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleaner": {
      "main": [
        [
          {
            "node": "The Gatekeeper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Gatekeeper": {
      "main": [
        [
          {
            "node": "Manager Alert  (bad call)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create HubSpot Task (Negative and Positive Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Alert  (bad call)": {
      "main": [
        [
          {
            "node": "Create HubSpot Task (Negative and Positive Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create HubSpot Task (Negative and Positive Calls": {
      "main": [
        [
          {
            "node": "The Data Enricher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e4ed73c5-bc7e-400a-832f-d4aa20bc90f1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3993121bbfda468035f6079c149dae0734dfbd42159bcaf660a6bdf086aba58c"
  },
  "id": "EgfXx6q3ikSJ5RxB0vbgS",
  "tags": []
}