workflow/crm/SMTP HR AUTO MAILER.json
{
  "name": "SMTP HR AUTO MAILER",
  "nodes": [
    {
      "parameters": {
        "fromEmail": "notifier@callboxinc.com",
        "toEmail": "={{ $json.email }}",
        "subject": "={{ $json.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        656,
        80
      ],
      "id": "3a10bc2d-a366-4117-9326-a82a1de75b7e",
      "name": "Send email",
      "webhookId": "ea2af786-3062-4363-8db7-27a2ebe2bd36",
      "credentials": {
        "smtp": {
          "id": "lMiDVHPyLStnEgKS",
          "name": "HR Ronadhel SMTP"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Test Sending of Email",
        "formFields": {
          "values": [
            {
              "fieldName": "File Upload",
              "fieldLabel": "Upload file",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": "csv",
              "requiredField": true
            },
            {
              "fieldName": "Subject Field",
              "fieldLabel": "Email Subject",
              "requiredField": true
            },
            {
              "fieldName": "Body",
              "fieldLabel": "Email Body",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        112,
        80
      ],
      "id": "2008254e-f186-4fbf-8967-cad29517f19e",
      "name": "On form submission",
      "webhookId": "46f066ca-1db8-4c19-aa36-13b2ebb85a50"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "File_Upload",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        304,
        80
      ],
      "id": "8f355a97-342e-4bd6-9e89-827f0013fc5d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// Pull subject & body once from the Form Trigger\nconst subject = $node[\"On form submission\"].json[\"Subject Field\"];\nconst body = $node[\"On form submission\"].json[\"Body\"];\n\nconst results = [];\n\nfor (const item of items) {\n  const row = item.json;\n\n  const values = Object.values(row).map(v =>\n    typeof v === 'string' ? v.trim() : ''\n  );\n\n  const email = values.find(v => v.includes('@'));\n  if (!email) continue;\n\n  const emailIndex = values.indexOf(email);\n  const name = values[emailIndex - 1] || null;\n  if (!name) continue;\n\n  results.push({\n    json: {\n      name,\n      email: email.toLowerCase(),\n      subject,\n      body\n    }\n  });\n}\n\n// Deduplicate by email\nconst unique = [];\nconst seen = new Set();\n\nfor (const r of results) {\n  if (!seen.has(r.json.email)) {\n    seen.add(r.json.email);\n    unique.push(r);\n  }\n}\n\nreturn unique;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        80
      ],
      "id": "726a85ef-1d48-4613-b9f5-1aa889fb704f",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "9d145759-d76b-4a7e-aadb-924d770da601",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3993121bbfda468035f6079c149dae0734dfbd42159bcaf660a6bdf086aba58c"
  },
  "id": "wlVtzihm-ViUJ7cTYXBpz",
  "tags": []
}