workflows/utilities/n8n Repo Manager.json
{
  "name": "My workflow 29",
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "file_upload",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "fbf4c290-02fa-41fc-8272-f497ad3b0e91",
      "name": "Extract from JSON"
    },
    {
      "parameters": {
        "content": "##    Workflow Uploader from n8n to GitHub \n",
        "height": 288,
        "width": 624
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -96
      ],
      "typeVersion": 1,
      "id": "83ab923f-0945-4fb6-b12a-a24b67d47e5c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "formTitle": "Workflow/File Uploader",
        "formDescription": "=DEPLOY TO GITHUB\nUpload a workflow JSON file to publish or update it.\n\nFOLDER INSTRUCTIONS\n• To Update: Type the exact existing path (e.g. workflows/crm)\n• To Create: Type a new folder name (e.g. workflows/finance)\n\nCRITICAL:\nYou must keep the 'workflows/' prefix!",
        "formFields": {
          "values": [
            {
              "fieldName": "folder_name",
              "fieldLabel": "Target Folder (keep 'workflows/')",
              "placeholder": "workflows/crm",
              "defaultValue": "workflows/",
              "requiredField": true
            },
            {
              "fieldName": "file_upload",
              "fieldLabel": "Workflow JSON File",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "3f817dc5-4c1f-44e8-80fd-cdb89037096a",
      "name": "File Uploader",
      "webhookId": "1abe5201-bf8c-4349-8ed6-2f3cc8240a97"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "teriyakjean123",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-playbooks",
          "mode": "name"
        },
        "filePath": "={{ $('File Uploader').first().json.folder_name }}/{{ $('File Uploader').first().binary.file_upload.fileName }}",
        "fileContent": "={{ $json.data }}",
        "commitMessage": "=Update workflow: {{ $('File Uploader').first().binary.file_upload.fileName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        336,
        0
      ],
      "id": "ddf008e6-82a5-4b06-95c8-3514524447d6",
      "name": "Create or Update Existing Repository",
      "webhookId": "18c4aaa1-66a1-4038-b59d-3a11c130b24e",
      "credentials": {
        "githubApi": {
          "id": "XAR4Kc55c6YczW1N",
          "name": "GH Personal Account Token"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from JSON": {
      "main": [
        [
          {
            "node": "Create or Update Existing Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Uploader": {
      "main": [
        [
          {
            "node": "Extract from JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create or Update Existing Repository": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "fd26e414-d0b5-4040-93b4-697b4b30f4f9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3993121bbfda468035f6079c149dae0734dfbd42159bcaf660a6bdf086aba58c"
  },
  "id": "eyNXWfaAKzR8128bcYn2p",
  "tags": []
}