workflows/images/Automated CSE Study Plan.json
{
  "name": "Automated CSE Study Plan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8093a586-3c82-4fca-8fb2-0e446d025fe4",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const startDate = new Date('2026-02-04'); \n\nconst today = new Date();\nconst diffInMs = today - startDate;\nconst diffInDays = Math.floor(diffInMs / (1000 * 60 * 60 * 24));\nconst currentStudyDay = diffInDays + 1;\n\nreturn {\n  studyDay: currentStudyDay, // This will now result in \"1\"\n  isActive: currentStudyDay > 0 && currentStudyDay <= 60\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "92c5b650-2e4e-4ea2-b8d3-b3e9cba4a7c7",
      "name": "The Date Calculator"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tSqBn9vfPDk-3Sk-Zs4h4uTfFtqCzgxeFQusREVZ7O4",
          "mode": "list",
          "cachedResultName": "CSE_30Day_Blitz_Schedule_Final",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSqBn9vfPDk-3Sk-Zs4h4uTfFtqCzgxeFQusREVZ7O4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2084422737,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSqBn9vfPDk-3Sk-Zs4h4uTfFtqCzgxeFQusREVZ7O4/edit#gid=2084422737"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Day",
              "lookupValue": "={{ $json.studyDay }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        0
      ],
      "id": "fd5227a5-b79e-40d0-bb2a-330bc8db3221",
      "name": "Lesson Librarian",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "knJcdbq9pG9bZIF3",
          "name": "ruhge-system-Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1468474855388352647/q1l3Xit6lJ8Lm_lvaUWcch0I93kPEjt6HeB5WbXBvVgv8YXqB5hmfVwmXsbiaYi56rH6",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"embeds\": [\n    {\n      \"title\": \"Day {{ $json.Day }}: {{ $json.Subject }}\",\n      \"url\": \"{{ $json[\"Coverage Link\"] }}\", \n      \"description\": \"> *“{{ [\"Success is the sum of small efforts repeated day in and day out.\", \"Believe you can and you are halfway there.\", \"The only bad workout is the one that did not happen.\", \"Do not watch the clock; do what it does. Keep going.\", \"Your future is created by what you do today, not tomorrow.\", \"It always seems impossible until it is done.\", \"Dream big and dare to fail.\", \"Action is the foundational key to all success.\"][Math.floor(Math.random() * 8)] }}”*\\n\\nYour mission for **March 8th** is ready. Let's crush this.\",\n      \"color\": 5763719,\n      \"author\": {\n        \"name\": \"CSE 2026 Blitz Commander\",\n        \"icon_url\": \"https://cdn-icons-png.flaticon.com/512/2232/2232688.png\"\n      },\n      \"thumbnail\": {\n        \"url\": \"https://cdn-icons-png.flaticon.com/512/2997/2997235.png\"\n      },\n      \"fields\": [\n        { \"name\": \"🎯 Today's Topic\", \"value\": \"```fix\\n{{ $json.Topic }}\\n```\" },\n        { \"name\": \"📚 Study Materials\", \"value\": \"• [**2026 Master Reviewer (Scribd)**]({{ $json[\"PDF Reviewer 2026\"] }})\\n• [2020 Reference PDF (GovPH)]({{ $json[\"PDF Reviewer 2020\"] }})\" },\n        { \"name\": \"📊 Quick Actions\", \"value\": \"Ref: [Official Scope]({{ $json[\"Coverage Link\"] }}) • Drill: [Take Quiz]({{ $json[\"Quiz Link\"] }})\\n📅 [**Open Master Schedule (G-Sheets)**](https://docs.google.com/spreadsheets/d/1NkgLAwc-8xQzrFZHDET47ctezOg3Q14HF5SArJpL4Ac/)\" },\n        { \"name\": \"💡 Strategy\", \"value\": \"{{ $json[\"Key Concept\"] }}\" }\n      ],\n      \"footer\": { \n        \"text\": \"Only 30 days left | Stay focused.\",\n        \"icon_url\": \"https://cdn-icons-png.flaticon.com/512/1081/1081035.png\"\n      },\n      \"timestamp\": \"{{ $now.toISO() }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        0
      ],
      "id": "3a1344cf-9b52-4755-86ec-9c40c7e08b75",
      "name": "Send to CSE Bot"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "The Date Calculator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Date Calculator": {
      "main": [
        [
          {
            "node": "Lesson Librarian",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lesson Librarian": {
      "main": [
        [
          {
            "node": "Send to CSE Bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e3a6a95a-9790-4b6b-8301-13718382f27e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3993121bbfda468035f6079c149dae0734dfbd42159bcaf660a6bdf086aba58c"
  },
  "id": "uyaB0ws67eIOO8nwRgaGW",
  "tags": []
}